.card-input{
  position: relative;
  width: 70%;
  margin: auto;
  padding: 1em;
}
.card-button{
  width: 31%;
  margin: auto;

}

.card .form-group label{
  color: #2F4F4F;
  font-size: 14px;
  font-family: "Roboto","Helvetica Neue",Arial,sans-serif;
}
.save_product{
  width: 20%;
}
.status{
  color: Green;
  font-size: medium;
  font-family: "Roboto","Helvetica Neue",Arial,sans-serif;
}
