.wrapper {
    /* display: flex; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: #4A4E69; */
}

.form-horizontal{
  width: 50%;
    margin: auto;
}
.form-horizontal .form-group .control-label{
  text-align: left;
}
.form-group
{
  position: relative;
    display: flex;
  }

.fieldset{
  width: 100%;
}
